#root {
    width: 90%;
    height: 90%;
}

.card {
    width: 80%;
    height: 100px;
    min-height: fit-content;
    background-color: darkgray;
    padding: 10%;
    animation: transform .2s ease-in-out;
}

.dragable {
    background-color: rgb(197, 193, 142);
}

.card:hover {
    cursor: grab;
}

.card-text {
    user-select: none;
}
.card-text:hover {
    cursor: pointer;
}

.grid-wrapper {
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: fit-content;
    margin: 10px auto;
    row-gap: 35px;
    column-gap: 35px;
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 30px;
}